[submodule "qr-code-component"]
	path = qr-code-component
	url = https://github.com/drangam9/qr-code-component
[submodule "results-summary-component"]
	path = results-summary-component
	url = https://github.com/drangam9/results-summary-component
[submodule "product-preview-card-component"]
	path = product-preview-card-component
	url = https://github.com/drangam9/product-preview-card-component
[submodule "interactive-rating-component"]
	path = interactive-rating-component
	url = https://github.com/drangam9/interactive-rating-component
[submodule "nft-preview-card-component"]
	path = nft-preview-card-component
	url = https://github.com/drangam9/nft-preview-card-component
[submodule "order-summary-component"]
	path = order-summary-component
	url = https://github.com/drangam9/order-summary-component
[submodule "testimonials-grid-section"]
	path = testimonials-grid-section
	url = https://github.com/drangam9/testimonials-grid-section
[submodule "stats-preview-card-component"]
	path = stats-preview-card-component
	url = https://github.com/drangam9/stats-preview-card-component
[submodule "age-calculator-app"]
	path = age-calculator-app
	url = https://github.com/drangam9/age-calculator-app
